.profile {
  max-width: 282px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 26px 0;
  color: #fff;
  margin: 0 auto 36px auto;
}
@media screen and (min-width: 768px) {
  .profile {
    max-width: 880px;
    margin: 0 auto 51px auto;
    justify-items: left;
    grid-template-columns: 120px minmax(336px, 1fr) minmax(50px, 150px);
    gap: 0 30px;
  }
}