.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  min-width: 320px;
  max-width: 880px;
  margin: 28px auto 38.25px auto;
}

@media screen and (min-width:1280px) {
  .header {
    margin: 45px auto 36.25px auto;
  }
}